<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>St. George Learning Center</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <!-- NavBar -->
  <nav id="nav" class="white" role="navigation">
    <div class="nav-wrapper container">
      <a href="../index.html" class="brand-logo">
        <img class="logo-img" src="../img/stgel_logo@2x.png" alt="red" height="100" width="100">
      </a>
      <ul class="hide-on-med-and-down right">
        <li class="menu-item">
            <a class="menu-a frame" href="about.html">
              <img class="nav-img" src="../img/red_Crayon.png" alt="red" height="33.6" width="140.8"></a>
        </li>
        <li class="menu-item">
            <a class="menu-a frame" href="programs.html">
              <img class="nav-img" src="../img/yellow_Crayon.png" alt="red" height="33.6" width="140.8"></a>
        </li>
        <li class="menu-item" class="menu-item">
          <a class="menu-a frame" href="calendar.html">
            <img class="nav-img" src="../img/Aqua_Crayon.png" alt="red" height="33.6" width="140.8"></a>
        </li>
        <li class="menu-item">
          <a class="menu-a frame" href="forms.html">
            <img class="nav-img" src="../img/orange_Crayon.png" alt="red" height="33.6" width="140.8"></a>
        </li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="about.html">About Us</a></li>
        <li><a href="programs.html">Program</a></li>
        <li><a href="calendar.html">Calendar</a></li>
        <li><a href="forms.html">Forms</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons nav-hamburger">menu</i></a>
    </div>
  </nav>
  <!-- /NavBar -->

<h1>Forms</h1>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../js/materialize.js"></script>
<script src="../js/init.js"></script>

</body>
</html>
