<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>St. George Learning Center</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <!-- Dropdown Structure -->
  <ul id="programs-dropdown" class="dropdown-content">
    <li><a href="infant.html">Infant</a></li>
    <li class="divider"></li>
    <li><a href="toddler.html">Toddler</a></li>
    <li class="divider"></li>
    <li><a href="preschool.html">Preschool</a></li>
  </ul>

  <!-- NavBar -->
  <nav id="nav" class="white" role="navigation">
    <div class="nav-wrapper container">
      <a href="../index.html" class="brand-logo">
        <img class="logo-img" src="../img/stgel_logo@2x.png" alt="red" height="100" width="100">
      </a>
      <ul class="hide-on-med-and-down right">
        <li class="menu-item">
            <a class="menu-a frame" href="../index.html">
              <img class="nav-img" src="../img/red_Crayon.png" alt="red" height="33.6" width="140.8"></a>
        </li>
        <li class="menu-item">
            <a class="dropdown-button menu-a" href="#!" data-activates="programs-dropdown">
              <img class="nav-img" src="../img/yellow_Crayon.png" alt="red" height="33.6" width="140.8"></a>
        </li>
        <li class="menu-item" class="menu-item">
          <a class="menu-a frame" href="calendar.html">
            <img class="nav-img" src="../img/Aqua_Crayon.png" alt="red" height="33.6" width="140.8"></a>
        </li>
        <li class="menu-item">
          <a class="menu-a frame" href="forms.html">
            <img class="nav-img" src="../img/orange_Crayon.png" alt="red" height="33.6" width="140.8"></a>
        </li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="../index.html">About Us</a></li>
        <li><a href="programs.html">Program</a></li>
        <li><a href="calendar.html">Calendar</a></li>
        <li><a href="forms.html">Forms</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons nav-hamburger">menu</i></a>
    </div>
  </nav>
  <!-- /NavBar -->

  <div class="">

  </div>
  <h4 style="margin: 0px 235px; padding: 20px 0;">Forms</h4>
  <div style="margin: 0px 235px; display:flex; flex-direction: row;">
    <ul style="width:50%;">
      <li>
        <a class="form-link" href="../forms/Cummulative.pdf">Cummlative</a>
      </li>
      <li>
        <a class="form-link" href=="../forms/Medical_Form.pdf">Medical Form</a>
      </li>
      <li>
        <a class="form-link" href="../forms/Registration_packet.pdf">Registration Packet</a>
      </li>
      <li>
        <a class="form-link" href="../forms/Supply_list.pdf">Supply List</a>
      </li>
      <li>
        <a class="form-link" href="../forms/Parent_Handbook.pdf">Parent Handbook</a>
      </li>
      <li>
        <a class="form-link" href="https://alwayz1237.typeform.com/to/gPDWz0">Employment Inquiry</a>
      </li>
    </ul>

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-content">
            <div class="row">

              <form class="col s12">
                <div class="row">
                  <h5 style="padding: 10px 0;">Schedule a Tour<h5>
                  <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="telephone" type="tel" class="validate">
                    <label for="telephone">Telephone</label>
                  </div>
                </div>
                </form>
              </div>
         </div>
         <div class="card-action">
           <a href="#" onclick="registerEmail()">Email</a>
         </div>
       </div>
     </div>
   </div>
  </div>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="../js/materialize.js"></script>
<script>
$('.datepicker').pickadate({
  selectMonths: true, // Creates a dropdown to control month
  selectYears: 15 // Creates a dropdown of 15 years to control year
});

function registerEmail() {
    console.log('hacking this thing together')
    const name = $('#first_name').val() + ' ' + $('#last_name').val();
    const telephone = $('#telephone').val();
    const email = $('#email').val();
    console.log(name);
    console.log(email);
    console.log(telephone);

    const mailto = `mailto:alwayz1237@gmail.com?subject=Setup%20Tour%20for%20St.%20George%20Learning%20Center&body=${name}%20would%20like%20to%20schedule%20a%20tour%20at%20St.%20George%20Learning%20Center.%0A%0ATelephone%3A%20${telephone}%0AEmail%3A%20${email}`;
    window.open(mailto, '_blank');
}

</script>
<script src="../js/init.js"></script>

</body>
</html>
