<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>St. George Learning Center</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/programs.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <!-- Dropdown Structure -->
  <ul id="programs-dropdown" class="dropdown-content">
    <li><a href="infant.html">Infant</a></li>
    <li class="divider"></li>
    <li><a href="toddler.html">Toddler</a></li>
    <li class="divider"></li>
    <li><a href="preschool.html">Preschool</a></li>
  </ul>


  <!-- NavBar -->
  <nav id="nav" class="white" role="navigation">
    <div class="nav-wrapper container">
      <a href="../index.html" class="brand-logo">
        <img class="nav-img" src="../img/stgel_logo@2x.png" alt="red" height="100" width="100">
      </a>
      <ul class="hide-on-med-and-down right">
        <li class="menu-item">
            <a class="frame" href="about.html">
              <img class="nav-img" src="../img/red_Crayon.png" alt="red" height="33.6" width="140.8"></a>
        </li>
        <!-- Programs Dropdown -->
        <li class="menu-item">
          <a class="dropdown-button" href="#!" data-activates="programs-dropdown">
              <img class="nav-img" src="../img/yellow_Crayon.png" alt="red" height="33.6" width="140.8"></a>
          </a>
        </li>
        <li class="menu-item">
            <a class="dropdown-button" href="calendar.html" data-activates="dropdown1" href="programs.html">
              <img class="nav-img" src="../img/Aqua_Crayon.png" alt="red" height="33.6" width="140.8">
            </a>
        </li>
        <li class="menu-item">
          <a href="forms.html">
            <img class="nav-img" src="../img/orange_Crayon.png" alt="red" height="33.6" width="140.8"></a>
        </li>

      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="about.html">About Us</a></li>
        <li><a href="programs.html">Program</a></li>
        <li><a href="calendar.html">Calendar</a></li>
        <li><a href="forms.html">Forms</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons nav-hamburger">menu</i></a>
    </div>
  </nav>
  <!-- /NavBar -->

  <!-- Banner -->
  <div class="parallax-container">
    <div class="section">
      <div class="container">

        <h1 class="header center text-lighten-2">Infants</h1>
        <div class="row center">
          <h5 class="header col s12 light">St. George is an innovative learning center built for kids enriched development</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../img/purple-banner.png" alt="Unsplashed background img 1"></div>
  </div>
  <!-- /Banner -->

  <!--   Icon Section   -->
  <div class="row">
    <div class="">
      <div class="icon-block">
        <!-- <h2 class="center st-blue-font"><i class="material-icons">navigation</i></h2> -->
        <h5 class="center">Ages</h5>
        <div class="center">
            Age from 18 months - 3yrs
        </div>
      </div>
    </div>
  </div>

  <!--/Information-->

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../js/materialize.js"></script>
<script src="../js/init.js"></script>

</body>
</html>
