<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>St. George Learning Center</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <!-- Dropdown Structure -->
  <ul id="programs-dropdown" class="dropdown-content">
    <li><a href="infant.html">Infant</a></li>
    <li class="divider"></li>
    <li><a href="toddler.html">Toddler</a></li>
    <li class="divider"></li>
    <li><a href="preschool.html">Preschool</a></li>
  </ul>


  <!-- NavBar -->
  <nav id="nav" class="white" role="navigation">
    <div class="nav-wrapper container">
      <a href="../index.html" class="brand-logo">
        <img class="logo-img" src="../img/stgel_logo@2x.png" alt="red" height="100" width="100">
      </a>
      <ul class="hide-on-med-and-down right">
        <li class="menu-item">
            <a class="menu-a frame" href="../index.html">
              <img class="nav-img" src="../img/red_Crayon.png" alt="red" height="33.6" width="140.8"></a>
        </li>
        <!-- Programs Dropdown -->
        <li class="menu-item">
          <a class="dropdown-button menu-a" href="#!" data-activates="programs-dropdown">
              <img class="nav-img" src="../img/yellow_Crayon.png" alt="red" height="33.6" width="140.8"></a>
          </a>
        </li>
        <li class="menu-item">
            <a class="menu-a" href="calendar.html">
              <img class="nav-img" src="../img/Aqua_Crayon.png" alt="red" height="33.6" width="140.8">
            </a>
        </li>
        <li class="menu-item">
          <a class="menu-a" href="forms.html">
            <img class="nav-img" src="../img/orange_Crayon.png" alt="red" height="33.6" width="140.8"></a>
        </li>

      </ul>
      <ul id="nav-mobile" class="side-nav">
          <!--About Us-->
          <li class="bold"><a href="../index.html" class="waves-effect waves-teal active">About Us</a></li>
          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <!--Programs-->
              <li class="bold"><a class="collapsible-header waves-effect waves-teal">Programs</a>
                <div class="collapsible-body" style="">
                  <ul>
                    <li><a href="infant.html">Infant</a></li>
                    <li><a href="toddler.html">Toddler</a></li>
                    <li><a href="preschool.html">Preschool</a></li>
                  </ul>
                </div>
              </li>
              <!-- Calendar -->
              <li class="bold"><a class="collapsible-header waves-effect waves-teal" href="calendar.html">Calendar</a>
                <!-- <div class="collapsible-body" style="">
                  <ul>
                    <li><a href="badges.html">Badges</a></li>
                  </ul>
                </div> -->
              </li>
              <!-- Forms -->
              <li class="bold"><a class="collapsible-header waves-effect waves-teal">Forms</a>
                <div class="collapsible-body" style="">
                  <ul>
                    <li>
                      <a href="../forms/Cummulative.pdf">Cummlative</a>
                    </li>
                    <li>
                      <a href="../forms/Medical_Form.pdf">Medical Form</a>
                    </li>
                    <li>
                      <a href="../forms/Registration_packet.doc">Registration Packet</a>
                    </li>
                    <li>
                      <a href="../forms/Supply_List.doc">Supply List</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons nav-hamburger">menu</i></a>
    </div>
  </nav>
  <!-- /NavBar -->


  <!-- Banner -->
  <div style="background-color:#323E79; width:100%; height:200px; display:flex; justify-content:center; align-items:center; color:white; flex-direction:column;">
    <h1 class="">Preschool</h1>
    <h5 class="light" style="color:white;">2.6 years to 3.5 years</h5>
  </div>
    <!-- /Banner -->

  <!-- Mission -->
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m12">
        </br>
        <h4 class="left bold st-blue-font">Information</h4>
      </br>
    </br>
  </br>
   <p class="light">
     We continue to the use of the HighScope curriculum in our preschool program.
     We find that each classroom benefits from the consistency in the use of the
     caregiving model as well as the scaffolding of the teaching model. In our preschool program,
     our teachers ignite children’s interest in learning by creating an environment that encourages them to explore
     learning materials and interact with adults and peers. We focus on supporting early learners as they make decisions,
     build academic skills, develop socially and emotionally, and become part of a classroom community.
</p>
   <p class="light">
     Active learning is the center of our preschool classroom.
     It’s the foundation of young children gaining knowledge through their natural play
     and interactions with the environment, events, and other people.
</p>
   <p class="light">
     Our preschool program is filled with investigation, exploration, and discovery,
     where active and enthusiastic children can refine and expand their skills and knowledge.
     Through intentional teaching practices, purposefully designed lesson planning, and enriched activities,
     teachers ensure that our preschoolers have a joyful, appropriate,
     and meaningful learning experiences that lead to success in school and in life.
   </p>
   <p class="light">
     Our program is structured around play and encourages socialization.
     Social awareness is an important development for children this age.
     During play, children learn to respect and be considerate of others, to share,
     to listen and follow directions, and to help clean up after playtime is over.
     We also offer a variety of opportunities to increase their
     language and communication skills through music, story time,
     and both small and large group activities with their teachers.
   </p>
   <p>
     Our framework for understanding and supporting children’s learning from at this age is based on 58 key developmental indicators (KDIs),
     which are aligned with New York State Early Learning Outcomes Framework. Their learning is focused on the following eight content areas:
   </p>
   <ul class="collection">
    <li class="collection-item">
      Approaches to Learning
    </li>
    <li class="collection-item">
      Social and Emotional Development
    </li>
    <li class="collection-item">
      Physical Development and Health
    </li>
    <li class="collection-item">
      Language, Literacy, and Communication
    </li>
    <li class="collection-item">
      Mathematics
    </li>
    <li class="collection-item">
      Creative Arts
    </li>
    <li class="collection-item">
      Science and Technology
    </li>
    <li class="collection-item">
      Social Studies
    </li>
  </ul>
  <p class="light">
    We recognize that the normal pace of children’s development and learning varies widely across these eight categories and the KDIs reflect that continuum of widely held expectations.
    The curriculum is designed to help teachers appropriately scaffold learning for every child across all areas. The KDIs provide teachers with a child development “filter” for observing and choosing appropriate interactions and activities;
    help teachers interpret what young children say and do; enable teachers to maintain reasonable expectations for young children; reinforce children’s play as the primary mechanism for learning and allow teachers to be more knowledgeable and
    intentional in their daily planning for individual children and the class.
  </p>
</div>
</div>

</div>
</div>

  <!--/Information-->

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../js/materialize.js"></script>
<script src="../js/init.js"></script>

</body>
</html>
