<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>St. George Learning Center</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <!-- Dropdown Structure -->
  <ul id="programs-dropdown" class="dropdown-content">
    <li><a href="infant.html">Infant</a></li>
    <li class="divider"></li>
    <li><a href="toddler.html">Toddler</a></li>
    <li class="divider"></li>
    <li><a href="preschool.html">Preschool</a></li>
  </ul>


  <!-- NavBar -->
  <nav id="nav" class="white" role="navigation">
    <div class="nav-wrapper container">
      <a href="../index.html" class="brand-logo">
        <img class="logo-img" src="../img/stgel_logo@2x.png" alt="red" height="100" width="100">
      </a>
      <ul class="hide-on-med-and-down right">
        <li class="menu-item">
            <a class="menu-a frame" href="../index.html">
              <img class="nav-img" src="../img/red_Crayon.png" alt="red" height="33.6" width="140.8"></a>
        </li>
        <!-- Programs Dropdown -->
        <li class="menu-item">
          <a class="dropdown-button menu-a" href="#!" data-activates="programs-dropdown">
              <img class="nav-img" src="../img/yellow_Crayon.png" alt="red" height="33.6" width="140.8"></a>
          </a>
        </li>
        <li class="menu-item">
            <a class="menu-a" href="calendar.html">
              <img class="nav-img" src="../img/Aqua_Crayon.png" alt="red" height="33.6" width="140.8">
            </a>
        </li>
        <li class="menu-item">
          <a class="menu-a" href="forms.html">
            <img class="nav-img" src="../img/orange_Crayon.png" alt="red" height="33.6" width="140.8"></a>
        </li>

      </ul>
      <ul id="nav-mobile" class="side-nav">
          <!--About Us-->
          <li class="bold"><a href="../index.html" class="waves-effect waves-teal active">About Us</a></li>
          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <!--Programs-->
              <li class="bold"><a class="collapsible-header waves-effect waves-teal">Programs</a>
                <div class="collapsible-body" style="">
                  <ul>
                    <li><a href="infant.html">Infant</a></li>
                    <li><a href="toddler.html">Toddler</a></li>
                    <li><a href="preschool.html">Preschool</a></li>
                  </ul>
                </div>
              </li>
              <!-- Calendar -->
              <li class="bold"><a class="collapsible-header waves-effect waves-teal" href="calendar.html">Calendar</a>
                <!-- <div class="collapsible-body" style="">
                  <ul>
                    <li><a href="badges.html">Badges</a></li>
                  </ul>
                </div> -->
              </li>
              <!-- Forms -->
              <li class="bold"><a class="collapsible-header waves-effect waves-teal">Forms</a>
                <div class="collapsible-body" style="">
                  <ul>
                    <li>
                      <a href="../forms/Cummulative.pdf">Cummlative</a>
                    </li>
                    <li>
                      <a href="../forms/Medical_Form.pdf">Medical Form</a>
                    </li>
                    <li>
                      <a href="../forms/Registration_packet.doc">Registration Packet</a>
                    </li>
                    <li>
                      <a href="../forms/Supply_List.doc">Supply List</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons nav-hamburger">menu</i></a>
    </div>
  </nav>
  <!-- /NavBar -->


  <!-- Banner -->
  <div style="background-color:#323E79; width:100%; height:200px; display:flex; justify-content:center; align-items:center; color:white; flex-direction:column;">
    <h1 class="">Toddler</h1>
    <h5 class="light" style="color:white;">12 months to 30 months</h5>
  </div>
    <!-- /Banner -->

  <!-- Mission -->
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m12">
        </br>
        <h4 class="left bold st-blue-font">Information</h4>
      </br>
    </br>
  </br>
   <p class="light">
     Our toddler program continues to use the HighScope model to build upon the skills acquired from the infant program.
     In this classroom, our toddlers learn by using hands-on exploration and social interactions in a safe, engaging environment
     to help them learn about his or her expanding world. Through the guidance of our child caregivers,
     toddlers enjoy learning experiences that promote their blossoming independence, social skills, and self-confidence.
   </p>
   <p class="light">
     Our toddlers are introduced to a flexible routine that is adjusted to meet their needs and interests.
     Our schedule allows predictability and a feeling of security among the toddlers.
     The physical space is safe, flexible, and child-oriented in order to accommodate
     the changing developmental needs and interests of the earliest learners.
     The space is organized into play areas that serve the needs of our toddlers and is stocked with a variety of open-ended,
     sensory-motor materials that toddlers can reach, explore, and play within their own way at their own pace.
     With nurturing and responsive caregivers as a home base, our toddlers are free to move about, explore materials, exercise creativity, and solve problems.
   </p>
   <p class="light">
     Towards the middle of the year, we begin to transition the toddlers from bottles to sippy cups.
     They are encouraged to play cooperatively with their peers and the caregivers continuously praise and model appropriate behavior.
     The caregivers perform ongoing child and program assessments and their objective observations of the toddlers allow them to intentionally plan
     and build on individual and group interests and scaffold development by supporting what the toddlers know while gently extending their learning.
   </p>
</div>
</div>

</div>
</div>

  <!--/Information-->

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../js/materialize.js"></script>
<script src="../js/init.js"></script>

</body>
</html>
